<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miguelbcr.ui.rx_paparazzo.library">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:allowBackup="false"
      android:label="@string/app_name"
      android:supportsRtl="true">

    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="${applicationId}.file_provider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/rx_paparazzo_file_paths"/>
    </provider>

    <activity
        android:name="com.yalantis.ucrop.UCropActivity"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

  </application>

</manifest>
